{% extends 'layout.html' %}
<title>Home</title>
<style>
.logs {
    grid-column: 1 / -1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
</style>

{% block content %}
<div class="logs">
    <h2>Recent Activity</h2>
    <div class="log-entry">
        <h3>Lock Offline</h3>
        <p>Room 3302 - Single</p>
        <p>ID: 331</p>
        <p>7 hours ago</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
    <div class="log-entry">
        <p>More log info etc...</p>
    </div>
</div>
{% endblock %}